body {
  font-family: sans-serif;
  font-size: 14px;
}
.limiter {
  position: relative;
  width: 50%;
  max-width: 520px;
  margin: 0 auto;
}
.container {
  width: 300px;
}

.custom-clear-typeahead .clear svg {
  padding: 0.5rem;
}
.custom-clear-typeahead .clear svg path {
  fill: #ccc;
}
.custom-clear-typeahead .clear:hover svg path {
  fill: #333;
}
