{{#simple-typeahead
  value=userQueryString
  placeholder='Search for users...'
  items=users
  onValueChange=(action 'searchForUsers')
  onItemEnter=(action 'addUser')
  clear=(action 'clear')
  as |input|
}}
  {{#input.message}}
    {{#if loadingUsers}}
      <p>loading...</p>
    {{else if loadingUsersError}}
      <p class="warning">Error Loading Users</p>
    {{else if searchIsEmpty}}
      <p>No users match the query <strong>{{userQueryString}}</strong></p>
    {{/if}}
  {{/input.message}}

  {{#input.list as |list|}}
    {{#list.item as |user|}}
      {{user}}
    {{/list.item}}
  {{/input.list}}
{{/simple-typeahead}}
