<div class="limiter">
  <h3>Basic Example</h3>
  {{basic-typeahead-example}}

  <h3>Async Example</h3>
  {{async-typeahead-example}}

  <h3>Custom Clear Button Example</h3>
  {{custom-clear-button-example
    class='custom-clear-typeahead'
  }}
</div>